@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.container {
  /* background-color: antiquewhite; */
  border-radius: 10px;
  /* border: 0.1px solid rgb(221, 218, 218); */
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  /* align-items: center; */
}
.individual {
  /* border: 0.1px solid black; */
  width: 50%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  /* margin: 1px; */
  justify-content: center;
  /* font-family: "Playfair Display", serif; */
  font-family: "Oswald", sans-serif;
  font-size: medium;
  align-items: center;
  /* backgrond-color: aqua; */
}
.individual img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
}
.individual a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.individual a:hover {
  color: cadetblue;
}
