.category {
  background-image: url("https://i.ytimg.com/vi/Jox6R5-rIH0/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.undoicon{
  color:white;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.undoicon:hover{
  color: #2FD6FE;
}
.container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  /* justify-conent: ; */
  align-items: center;
  /* margin-left: 13rem; */
  color: black;
  border-radius: 10px;
  background-color: #a23cff;
  box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
}
.head {
  font-family: "Mochiy Pop One", sans-serif;
  margin: 7px;
  color: white;
}
.inner_container {
  width: 97%;
  height: 89%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.inner_container_music {
  width: 97%;
  height: 89%;
  border-radius: 10px;
  background-color: white;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #a23cff;
}
::-webkit-scrollbar-thumb {
  background-color:  rgb(184, 182, 182);
}
.select{
  color: white;
}
.inputLabel{
  color: white;
}
.formControl{
  height: 30%;
}