.play_container{
  background-image: url("https://i.ytimg.com/vi/Jox6R5-rIH0/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
	width: 50%;
	height: 170px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.container img {
	width: 50px;
	height: 50px
}