.wrapper{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.select{
  color: white;
}
.selected{
  color: white;
}
.inpLabel{
  color: white;
}
.formControl{
  height: 30%;
}
.undoicon{
  color:white;
  position: absolute;
  right: 15px;
  cursor: pointer;
  /* margin-left: 3rem; */
}
.undoicon:hover{
  color: #2FD6FE;
}
.container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  /* justify-conent: ; */
  align-items: center;
  /* margin-left: 13rem; */
  color: black;
  border-radius: 10px;
  background-color: #a23cff;
  box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 16px 15px 32px -11px rgba(0, 0, 0, 0.83);
}
.head {
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
}
.inner_container {
  width: 97%;
  height: 89%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.inner_container_music {
  width: 97%;
  height: 89%;
  border-radius: 10px;
  background-color: white;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input{
  outline: none;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15rem;
  max-width: 100%; 
  box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
}
.submit{
  width: 30px;
  border: 0.1px solid white;
  height: 30px;
  background-color: transparent;
  margin: auto 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
}
.submit:hover{
  background-color: #2FD6FE;
}
.btn{
  width: 30px;
  height: 30px;
  border: 0.1px solid white;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
  background-color:transparent;
  box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 5px 4px 11px -5px rgba(0, 0, 0, 0.98);
}
.btn:hover{
  background-color: #2FD6FE;
}