.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 10px;
  font-weight: 200;
  color: rgb(196, 196, 196);
}
.wrapper{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev,.next{
 color:white; 
}
.prev {
  margin-right: 5px;
}
.prev:hover{
  color: rgb(218, 55, 145);
}
.nexr{
  margin-left: 5px;
}
.next:hover{
  color: rgb(218, 55, 145);
}