.container{
	border-radius: 10px;
	width: 50%;
	height:50%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.group{
	font-family: 'Playfair Display', serif;
	margin-top: 1.5rem;
	color: black;
}
.container:hover{
	
}
.container img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}